@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  max-width: 100vw;
  min-height: 100vh;
  background-image: url('/public/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fefefe;
  font-family: 'Inria sans', Helvetica, sans-serif;
  padding: 20px;
}

.weather-icon {
  height: 100px;
  width: 100px;
}

.components {
  display: grid;
  max-width: 100vw;
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'weather weather fiveDayForecast'
    'hourlyForecast hourlyForecast fiveDayForecast';
  margin-top: 48px;
  gap: 24px;
}

@media screen and (max-width: 840px) {
  .components {
    max-width: 100vw;
    gap: 24px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(1fr, 150px));
    grid-template-areas:
      'weather'
      'hourlyForecast'
      'fiveDayForecast';
  }
}
